{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="bg-[#EDEBF8]">
        <nav class="bg-violet-100 mr-5 ml-5">
            <div class=" container mx-auto flex justify-between items-center">
                <div class="flex">
                    <img src="{% static 'ed.jpg' %}" alt="">
                    <a href="#" class="text-violet-900 text-4xl font-bold ">Appux</a>
                </div>
                <div class=" hidden lg:flex lg:space-x-4">
                    <a href="" class="">Home</a>
                    <a href="" class="">Case Studies</a>
                    <a href="" class="">Poltfolios</a>
                    <a href="" class="">Blog</a>
                    <a href="" class="">Resource</a>
                    <a href="" class="bg-[#5D48E1] shadow-pink-300">Here Us</a>
                    
                </div>
                <svg class="lg:hidden w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h14M1 6h14M1 11h7"/>
                  </svg>
            </div> 

        </nav>
        <!-- paragraphy -->
        <div class="grid grid-cols-2 divide-x   space-x-8 py-5">
            <div class=" text-4xl font-bold py-10">
                <h1>All you wanted about</h1>
                <h1>working with designers and</h1>
                <h1>creating delightful product</h1>
                <h1>experience</h1>
            </div> 
            <div class="w-1/2">
                <img src="cup.PNG" alt="" srcset="" class="w-full">
            </div> 
        </div>
        <!-- under paragraphy -->
        <div class=" bg-white rounded-3xl grid grid-cols-1">
            <div class="flex flex-wrap">
                <div class="w-1/2">
                    <img src="w1.PNG" alt="" srcset="" class="w-full rounded-3xl">
                </div>
                <div class="w-1/3 mx-10">
                    <h1 class="xl font-bold py-7"><span class="text-blue-800">UI DESIGN</span></h1>
                    <h1 class="text-2xl font-bold">Card UI Examples And Best</h1>
                    <h1 class="text-2xl font-bold">Practices For Product Owners</h1>
                    <h1 class="py-3 ">now in 2022, more than 2.7 billion mobile app users in the world
                        prefer Android apps. we follow the google design principles and
                        the design thinking process to create seamless user experiences
                        and aesthetic interfaces for mobile apps for the android platform.
                    </h1>
                    <h1 class="py-3 ">
                        we make android apps more relevant to users that users love to
                        use and bring your business experience to the next level.
                    </h1>

                </div>

            </div>
            <!-- responsive image and text -->
        </div>
        <h1 class="py-10"></h1>
        <nav class=" py-4 ">
            <div class="flex flex-wrap mx-auto   justify-between ">
                <div class="flex flex-wrap space-x-5  ">
                    <div class="divide-x-2 divide-gray-00  space-x-5">
                        <a href="#" class=" text-3xl font-bold ">All Post</a>
                        <a href="#" class=" text-sm text-purple-900 font-semibold underline underline-offset-8 px-5">design process</a>
                    </div>
                    <div class="space-x-5 py-3">
                         <a href="#" class=" text-sm font-semibold ">industry</a>
                         <a href="#" class=" text-sm font-semibold ">busines</a>
                        <a href="#" class=" text-sm font-semibold">technology</a>
                    </div>
                </div>

                <div class="float-left text-sm">
                    <input type="text" name="" id="" placeholder="search what you want" 
                        class="border border-white w-60 h-8 rounded mb-2" >
                        
                </div>
            </div>
        </nav>
    </div>
    <p class="py-6"></p>

    <div class="grid grid-cols-3 divide-x space-x-5 mx-20 ">
        <div>
            <img src="p1.PNG" alt="" srcset="" class="w-full rounded-t-3xl ">
            <h1 class="xl font-bold py-4"><span class="text-blue-800">UI DESIGN</span></h1>
            <h1 class="text-xl font-bold">Compelling Design takes More</h1>
            <h1 class="text-xl font-bold">than"Making it like Stripe"</h1>

        </div>
        <div>
            <img src="p2.PNG" alt="" srcset="" class="w-full rounded-t-3xl">
            <h1 class="xl font-bold py-4"><span class="text-blue-800">DESIGN PROCESS</span></h1>
            <h1 class="text-xl font-bold">What Is Design Thinking and</h1>
            <h1 class="text-xl font-bold">How it Hacks Way to</h1>
        </div>
        <div>
            <img src="p3.PNG" alt="" srcset="" class="w-full rounded-t-3xl">
            <h1 class="xl font-bold py-4"><span class="text-blue-800">UI DESIGN</span></h1>
            <h1 class="text-xl font-bold">HealthCare UX: How Design Can</h1>
            <h1 class="text-xl font-bold">Solve Biggest Challenges for</h1>
        </div>
    </div>
    </div>
</body>
</html>